/* DICK SMITH COLUMBIA NISSAN | NOTES */

/* SITE COLOR REFERENCE GUIDE */
/*
	Maroon: #810a1a; light-hover: #b36c76; dark-hover: #5a0712;
	Gold: #fac40f; light-hover: #f5d657; dark-hover: #a9890a;
	Dark-Gray: #777777;
	Light-Gray: #666666;
	Gray-Background: #dbdbdb;
	Navy-Blue: #064973;
*/

/* MEDIA QUERY BREAKPOINT TEMPLATE */
@media screen and (min-width: 320px) {} /* END 320px */
@media screen and (min-width: 375px) {} /* END 375px */
@media screen and (min-width: 425px) {} /* END 425px */ 
@media screen and (min-width: 480px) {} /* END 480px */
@media screen and (min-width: 500px) {} /* END 500px */
@media screen and (min-width: 700px) {} /* END 700px */
@media screen and (min-width: 768px) {} /* END 768px */
@media screen and (min-width: 900px) {} /* END 900px */
@media screen and (min-width: 992px) {} /* END 992px */
@media screen and (min-width: 1024px) {} /* END 1024px */
@media screen and (min-width: 1200px) {} /* END 1200px */
@media screen and (min-width: 1366px) {} /* END 1366px */
@media screen and (min-width: 1440px) {} /* END 1440px */
@media screen and (min-width: 1920px) {} /* END 1920px */

/* MEDIA QUERY BREAKPOINT TEMPLATE MINIMIZED */
@media screen and (min-width: 480px) {} /* END 480px */
@media screen and (min-width: 768px) {} /* END 768px */
@media screen and (min-width: 992px) {} /* END 992px */
@media screen and (min-width: 1200px) {} /* END 1200px */
@media screen and (min-width: 1366px) {} /* END 1366px */