 /* DICK SMITH COLUMBIA NISSAN | STYLESHEET */

/*
	GLOBAL STYLES
	Section includes global site styles.
*/

/* GLOBAL STYLES */
* {
	padding: 0px;
	margin: 0px;
}
html {
	/*background-color: #dbdbdb;*/
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAK0lEQVQIW2NkwA2MGXHIGQPFz2KTBEuANKFLwiXQJVEkkCUxJGCSWCVAkgAgugY78ir7SwAAAABJRU5ErkJggg==");
	background-repeat: repeat;
	overflow-x: hidden;
}
body {
	font-family: Lato, Helvetica, Arial, sans-serif;
	background: transparent;
}
img {
	height: auto;
	width: auto;
	max-width: 100%;
	/*width: 100%;
	display: block;*/
}
.clearfix {
	zoom: 1;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
@media screen and (min-width: 480px) {} /* END 480px */
@media screen and (min-width: 768px) {} /* END 768px */
@media screen and (min-width: 992px) {} /* END 992px */
@media screen and (min-width: 1200px) {} /* END 1200px */
@media screen and (min-width: 1366px) {} /* END 1366px */

input.btn-submit {
	width: auto !important;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(239, 209, 86, 1) 0%, rgba(241, 196, 15, 1) 100%) repeat scroll 0 0;
	border: 1px solid rgba(243, 156, 18, 1);
	border-radius: 0.3em;
	box-shadow: 0 1px 0 rgba(236, 240, 241, 1) inset;
	color: #2c3e50;
	display: inline-block;
	letter-spacing: 0.3em;
	text-shadow: 0 -1px 0 rgba(236, 240, 241, 0.5);
	font-weight: normal;
	font-size: 1em;
}
input.btn-submit:hover {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(237, 192, 11, 1) 1%, rgba(241, 196, 15, 1) 100%) repeat scroll 0 0;
}
input.btn-reset {
	width: auto !important;
}
.form label {
	display: block;
	color: rgb(6, 73, 115);
	margin: 0 0 0.5em 0;
}
.form label span,
.req {
	color: #e74c3c;
}
.form input,
.form select {
	width: 15em;
	padding: 0.5em 1em;
	max-width: 100%;
}
.form textarea {
	width: 100%;
	max-width: 400px;
	height: 100px;
	padding: 0.5em 1em;
}
.form .captcha-holder {
	margin: 0 0 1.5em 0;
}
.form small {
	color: rgb(6, 73, 115);
	margin: 0 0 0 0.5em;
}
.form select.width-8em {
	width: 8em;
	margin-right: 1em;
}
.form select.width-5em {
	width: 5em;
}
.text-orange {
	color: #e67e22;
}

/* DEVICE DISPLAY PROPERTIES */
.hide-mobile {
	display: none !important;
}
.hide-tablet {
	display: none !important;
}
.hide-desktop {
	display: initial;
}
@media screen and (min-width: 480px) {} /* END 480px */
@media screen and (min-width: 768px) {
	.hide-mobile {
		display: initial;
	}
} /* END 768px */
@media screen and (min-width: 992px) {
	.hide-tablet {
		display: initial;
	}
	.hide-desktop {
		display: none !important;
	}
} /* END 992px */
@media screen and (min-width: 1200px) {} /* END 1200px */
@media screen and (min-width: 1366px) {} /* END 1366px */

/* GRID-12 FRAMEWORK */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
	width: 100.00%;
	display: inline;
	float: left;
}
@media screen and (min-width: 480px) {
	.grid-1,
	.grid-2,
	.grid-3,
	.grid-4 {
		width: 50.00%;
	}
	.grid-5,
	.grid-6,
	.grid-7,
	.grid-8,
	.grid-9,
	.grid-10,
	.grid-11,
	.grid-12 {
		width: 100.00%;
	}
} /* END 480px */
@media screen and (min-width: 768px) {
	.grid-1,
	.grid-2,
	.grid-3 {
		width: 25.00%;
	}
	.grid-4 {
		width: 33.33%;
	}
	.grid-5,
	.grid-6,
	.grid-7 {
		width: 50.00%;
	}
	.grid-8 {
		width: 66.66%;
	}
	.grid-9,
	.grid-10,
	.grid-11 {
		width: 75.00%;
	}
	.grid-12 {
		width: 100.00%;
	}
} /* END 768px */
@media screen and (min-width: 992px) {
	.grid-1 {
		width: 8.33%;
	}
	.grid-2 {
		width: 16.66%;
	}
	.grid-3 {
		width: 25.00%;
	}
	.grid-4 {
		width: 33.33%;
	}
	.grid-5 {
		width: 41.66%;
	}
	.grid-6 {
		width: 50.00%;
	}
	.grid-7 {
		width: 58.33%;
	}
	.grid-8 {
		width: 66.66%;
	}
	.grid-9 {
		width: 75.00%;
	}
	.grid-10 {
		width: 83.33%;
	}
	.grid-11 {
		width: 91.66%;
	}
	.grid-12 {
		width: 100.00%;
	}
} /* END 992px */
@media screen and (min-width: 1200px) {} /* END 1200px */
@media screen and (min-width: 1366px) {} /* END 1366px */

/* WRAPPERS - CONTAINERS */
.wrapper-content {
	height: auto;
	width: 100%;
	display: block;
	padding: 10px;
	box-sizing: border-box;
}
.wrapper-video {
	height: 0px;
	position: relative;
	padding-top: 25px;
	padding-bottom: 56.25%;
}
.wrapper-video iframe {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
@media screen and (min-width: 480px) {} /* END 480px */
@media screen and (min-width: 768px) {} /* END 768px */
@media screen and (min-width: 992px) {} /* END 992px */
@media screen and (min-width: 1200px) {} /* END 1200px */
@media screen and (min-width: 1366px) {} /* END 1366px */

/* TEXT STYLES */
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.10;
	display: block;
	margin: 20px 0px;
}
h1 {
	font-size: 2.25em;
}
h2 {
	font-size: 2.00em;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.50em;
}
h5 {
	font-size: 1.25em;
}
h6 {
	font-size: 1.00em;
}
p {
	font-size: 1.00em;
	margin-bottom: 20px;
}
li {
	font-size: 1.00em;
	margin-bottom: 5px;
}
@media screen and (min-width: 480px) {
	h1 {
		font-size: 2.25em;
	}
	h2 {
		font-size: 2.00em;
	}
	h3 {
		font-size: 1.75em;
	}
	h4 {
		font-size: 1.50em;
	}
	h5 {
		font-size: 1.25em;
	}
	h6 {
		font-size: 1.00em;
	}
	p,
	li {
		font-size: 1.00em;
	}
} /* END 480px */
@media screen and (min-width: 768px) {
	h1 {
		font-size: 2.50em;
	}
	h2 {
		font-size: 2.25em;
	}
	h3 {
		font-size: 2.00em;
	}
	h4 {
		font-size: 1.75em;
	}
	h5 {
		font-size: 1.50em;
	}
	h6 {
		font-size: 1.25em;
	}
	p,
	li {
		font-size: 1.00em;
	}
} /* END 768px */
@media screen and (min-width: 992px) {
	h1 {
		font-size: 2.75em;
	}
	h2 {
		font-size: 2.50em;
	}
	h3 {
		font-size: 2.25em;
	}
	h4 {
		font-size: 2.00em;
	}
	h5 {
		font-size: 1.75em;
	}
	h6 {
		font-size: 1.50em;
	}
	p,
	li {
		font-size: 1.00em;
	}
} /* END 992px */
@media screen and (min-width: 1200px) {
	h1 {
		font-size: 3.00em;
	}
	h2 {
		font-size: 2.75em;
	}
	h3 {
		font-size: 2.50em;
	}
	h4 {
		font-size: 2.25em;
	}
	h5 {
		font-size: 2.00em;
	}
	h6 {
		font-size: 1.75em;
	}
	p,
	li {
		font-size: 1.00em;
	}
} /* END 1200px */
@media screen and (min-width: 1366px) {
	h1 {
		font-size: 3.25em;
	}
	h2 {
		font-size: 3.00em;
	}
	h3 {
		font-size: 2.75em;
	}
	h4 {
		font-size: 2.50em;
	}
	h5 {
		font-size: 2.25em;
	}
	h6 {
		font-size: 2.00em;
	}
	p,
	li {
		font-size: 1.00em;
	}
} /* END 1366px */

/* BUTTONS & LINKS */
a {
	text-decoration: none;
	color: #810a1a;
}
a:hover {
	text-decoration: none;
	color: #b36c76;
}
a img:hover {
	opacity: 0.80;
}
.link-phone,
.link-phone:hover {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
@media screen and (min-width: 480px) {} /* END 480px */
@media screen and (min-width: 768px) {} /* END 768px */
@media screen and (min-width: 992px) {} /* END 992px */
@media screen and (min-width: 1200px) {} /* END 1200px */
@media screen and (min-width: 1366px) {} /* END 1366px */

/*
	PAGE STYLES
	Section incldues Header and Footer Styles
	and container-wrapper
*/

#header-primary,
#footer-primary,
.container-wrapper {
	box-shadow: 0 0 10px 1px rgba(52, 73, 94, 0.4);
}

.container-wrapper {
	max-width: 1000px;
	margin: 1em auto;
	background: #fff;
}

/* #HEADER-PRIMARY */
#header-primary {
	background: #fff;
}
#header-logo {
	height: 68px;
	width: 100%;
	display: block;
}
#header-logo-image {
	height: 68px;
	width: 75px;
	display: inline-block;
	float: left;
}
#header-logo-image img,
#header-logo-image a {
	height: 100%;
	width: auto;
	display: block;
}
#header-logo-text {
	height: auto;
	width: 210px;
	display: inline-block;
	padding-left: 10px;
	float: left;
}
#header-logo-text h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #777777;
	margin: 0px;
}
#header-address {}
#header-address .link-phone {
	display: inline-block;
}
#header-address .link-phone:after {
	content: "|";
	padding: 0px 5px;
}
#header-address a {
	display: block;
}
#header-nav nav {
	display: none;
}
@media screen and (min-width: 480px) {} /* END 480px */
@media screen and (min-width: 768px) {} /* END 768px */
@media screen and (min-width: 992px) {} /* END 992px */
@media screen and (min-width: 1200px) {} /* END 1200px */
@media screen and (min-width: 1366px) {} /* END 1366px */

/* #FOOTER-PRIMARY */
#footer-primary {
	height: auto;
	width: 100%;
	display: block;
	background-color: #810a1a;
	text-align: center;
}
#footer-primary p,
#footer-primary a {
	color: #ffffff;
	margin-bottom: 0px;
}
#footer-primary a:hover {
	color: #f1c40f;
}
#footer-nav-links,
#footer-copyright,
#footer-nav-locations {
	display: block;
	margin-bottom: 10px;
}
#footer-primary ul {
	margin: 0px;
}
#footer-primary ul li {
	display: inline-block;
	margin: 0px auto;
	margin-bottom: 0px;
}
#footer-primary ul li:after {
	content: "|";
	padding: 0px 5px;
	color: #ffffff;
}
#footer-primary ul li:last-child:after {
	content: none;
}
#footer-nav-locations {
	margin-bottom: 0px;
}
@media screen and (min-width: 480px) {} /* END 480px */
@media screen and (min-width: 768px) {} /* END 768px */
@media screen and (min-width: 992px) {} /* END 992px */
@media screen and (min-width: 1200px) {
	.container { width: 1030px; }
} /* END 1200px */
@media screen and (min-width: 1366px) {} /* END 1366px */

/* GEO FOOTER*/
#geo .column-left .block {
	padding: 1em;
}
#geo .column-left p {
	margin: 0;
	padding: 0;
}
#geo .column-left h5 {
	color: #666;
	text-decoration: underline;
	margin: 0;
	padding: 0;
}

/*
	COLUMBIANISSAN-HOME
	Section includes all home page styles.
*/

/* #BANNER-HOME */
#banner-home img,
#banner-home a {
	height: auto;
	width: 100%;
	display: block;
}
#banner-home-1,
#banner-home-2,
#banner-home-3,
#banner-home-4,
#banner-home-5,
#banner-home-6,
#banner-home-7 {
	height: auto;
	width: 100%;
	display: none;
}
#banner-home-1 {
	display: block;
}
@media screen and (min-width: 480px) {} /* END 480px */
@media screen and (min-width: 768px) {} /* END 768px */
@media screen and (min-width: 992px) {} /* END 992px */
@media screen and (min-width: 1200px) {} /* END 1200px */
@media screen and (min-width: 1366px) {} /* END 1366px */

/* #HOME-SECONDARY-NAV */
#home-secondary-nav ul {
	margin-bottom: 0px;
}
#home-secondary-nav li a {
	height: auto;
	width: 100%;
	display: block;
	padding: 20px;
	background-color: #fac40f;
	font-size: 1.25em;
	text-align: center;
	text-transform: uppercase;
	color: #777777;
}
#home-secondary-nav li a:hover {
	background-color: #f5d657;
}
@media screen and (min-width: 480px) {} /* END 480px */
@media screen and (min-width: 768px) {} /* END 768px */
@media screen and (min-width: 992px) {} /* END 992px */
@media screen and (min-width: 1200px) {} /* END 1200px */
@media screen and (min-width: 1366px) {} /* END 1366px */

/* #HOME-PROMOTIONS */
@media screen and (min-width: 480px) {} /* END 480px */
@media screen and (min-width: 768px) {} /* END 768px */
@media screen and (min-width: 992px) {} /* END 992px */
@media screen and (min-width: 1200px) {} /* END 1200px */
@media screen and (min-width: 1366px) {} /* END 1366px */

/*
	NEW & USED VEHICLES
	Section includes all styling for new and used vehicle landing pages.
*/

/*
	VEHICLE DETAIL PAGE
	Section includes all styling for Vehicle Detail page.
*/

/*
	VEHICLE EXCHANGE
	Section includes all styling for Vehicle Exchange page.
*/

/*
	SERVICE & PARTS
	Section includes all styling for Service & Parts department pages.
*/
/* cart truck parts */
#content-primary-ctp .container-wrapper {
	padding: 2em 1.5em;
}
.minheight-ctp {
	overflow: hidden;
	padding: 0 0 30px 0;
}
.logo-wrappers {
	padding: 2em;
}
.svc-pd-logo {
	display: inline-block;
	padding: 0.5em;
}
.logo-wrappers-l .svc-pd-logo img {
	height: 80px;
}

@media screen and (min-width: 480px) {} /* END 480px */
@media screen and (min-width: 768px) {} /* END 768px */
@media screen and (min-width: 992px) {
		.minheight-ctp {
			min-height: 445px;
		}
	} /* END 992px */
@media screen and (min-width: 1200px) {
		.minheight-ctp {
			min-height: 485px;
		}
	} /* END 1200px */
@media screen and (min-width: 1366px) {
		.minheight-ctp {
			min-height: 575px;
		}
	} /* END 1366px */

/* email parts department */
.form-header {
	background: rgba(0, 0, 0, 0) url("../img/location/loc-banner-dark.jpg") repeat scroll 0 0 / 1000px 200px;
	color: #fff;
	border-bottom: 1px solid grey;
	padding: 1.5em 2.5em;
	margin: 0 0 1em 0;
}
.form-header h1 {
	display: inline-block;
	border-bottom: 1px solid #fff;
	padding: 0 0 0.4em 0;
	margin: 0 0 0.1em 0;
}

.epd-form {
	padding: 0.5em 2.5em 1em;
}
.form .block {
	position: relative;
	padding: 1em 0;
	margin: 0.5em 0 0 0;
}
.form .block:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 1px;
	width: 100%;
	background: linear-gradient(to right, purple, #2980b9);
	background-color: #000;
}
.form .block:first-child {
	padding-top: 0;
	margin-top: 0;
}
.form .block:first-child:before {
	display: none;
}
.form h3 {
	color: #e67e22;
	letter-spacing: 0.2em;
}
.form .box {
	margin: 0 0 1.5em 0;
}

/* carfinancing*/
.box-side {
	display: inline-block;
	margin-right: 1em;
}
.resradio label,
.resradio input {
	display: inline-block;
	width: auto !important;
}
.resradio input {
	margin: 0 5px;
}
.inline-block {
	display: inline-block !important;
}
.margin-right-1em {
	margin-right: 1em !important;
}

/*
	WEBFORMS
	Section includes all form stylings.
*/

/*
	SITEMAP
	Includes all styles for sitemap page.
*/

/*
	CONTACT US
*/
#content-primary-contactus h1 {
	border-bottom: thin solid;
	color: #777;
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 5px;
	padding-left: 1em;
	padding-top: 5px;
}

.contactus-form {
	margin: 1em;
	border: 1px solid darkgrey;
}

.cu-form-pad {
	padding: 0.5em 2.5em 1em;
}

.box-hoo-cu {
	border: 1px solid darkgrey;
	padding: 1em;
	margin: 1em;
}

.box-hoo-cu h3 {
	border-bottom: 1px solid #000;
}

/*
	BUY MY USED CAR
*/
.byuc-list {
	padding: 2em;
}
.byuc-list .box {
	position: relative;
	padding: 1em;
}
.byuc-list .box:before {
    background-color: black;
    background-image: linear-gradient(to right, purple, #2980b9);
    display: block;
    height: 1px;
    margin: 0.5em 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
}
.byuc-list .box:first-child:before {
	display: none;
}
.byuc-list h2 {
	margin: 0;
}
.byuc-list h3 {
	margin: 0 0 0 2em;
}
.byuc-list .list-num {
	color: #2980b9;
	padding: 0;
	margin: 0;
	font-size: 2em;
}
.get-started {
	padding: 1em 0 0 0;
}
.get-started a {
	display: inline-block;
	background: #f1c40f;
	border: 1px solid rgba(52, 152, 219, 0.3);
	border-radius: 0.5em;
	font-size: 1em;
	text-align: center;
	color: #2980b9;
	padding: 0.75em;
}
.get-started a:hover {
	background: #2980b9;
	color: #fff;
}
.img-video {
	text-align: center;
	padding: 5em 0 1em 0;
}
.img-video .iv-image {
	margin: 0 0 4em 0;
}
.iv-video {
	display: inline-block;
	text-align: left;
}